
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Burası benim oluşturduğum view sayfası.</h3>

<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yazılım</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Finans </td>
    </tr>

</table>
