@model IEnumerable<EntityLayer.Concrate.Comment>

<div class="comment-top">
    <h4>Yorumlar</h4>
    <br />

    @if(Model == null || !Model.Any())
    {
        <div class="media">
            <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">Yorum Bulunamadı</h5>
                <p>İlk yorumu siz yapmak istermisiniz ?</p>

            </div>
        </div>   
    }
    else
    {
        
    @foreach (var item in Model)
    {

        <div class="media">
            <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
            <div class="media-body">
                <h5 class="mt-0">@item.CommentUserName</h5>
                <p>@item.CommentContent</p>

            </div>
        </div>
    }
    }
</div>